<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ExploreAt Dublin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .pad-0{
    padding-bottom: 50px;
    padding-top: 90px;
  }
  .pad-1{
    padding-bottom: 50px;
    padding-top: 70px;
  }
  .pad-2{
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .bg-4{
    	background-color: #1abc9c; /* White */
      color:  #555555;

}

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#people">People</a></li>
                <li><a href="#publication">Publications</a></li>
                <li><a href="#Semantics">Semantics</a></li>
                <li><a href="#APIs">APIs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
                    Login</a></li>
            </ul>
        </div>
    </div>
</nav>


<section id="about">
    <div class="container-fluid bg-1 text-center pad-1">
        <div class="row">
            <div class="col-lg-2  "></div>
            <div class="col-lg-8 text-center">
                <h1>ExploreAt! Project.</h1>
                <p class="text-justify"> Exploring Austrias culture through the
                    language glass This project aims to reveal unique insights into
                    the rich texture of the German Language, especially in Austria, by
                    providing state of the art tools for exploring the unique
                    collection (1911-1998) of the Bavarian Dialects in the region of
                    the Austro-Hungarian Empire. This corpus is large and rich,
                    estimated to contain 200,000 headwords in estimated 4 Million
                    records. The collection includes a five-volume dictionary of about
                    50,000 headwords, covering a period from the beginning of German
                    language until the present (DBÖ, WBÖ). </p>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
    <div class="container-fluid bg-1 text-center pad-2">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <h2> ExploreAt! Dublin City University, Adapt Centre</h2>
                <p class="text-justify"> ExploreAt! Dublin focuses on research and
                    implementation of semantic web solutions for describing,
                    annotating, exploring and analysing cultural, historical and
                    lexicographic data collections. This involves top-down and
                    bottom-up ontology development, automatic and semi-automatic
                    semantic annotation, publication and integration of the resources
                    as a linked open data. This project develops methods and tools for
                    semantic interlinking, exploration and analysis of spatial and
                    temporal aspects of legacy data collections. The project further
                    focuses on the development of an open multilingual infrastructure
                    capable of providing access to historical data collections in a
                    language independent manner. The project uses state-of-the-art
                    methods and tools in natural language processing, information
                    extraction, and database systems. </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<section id="people">
    <div class="container-fluid bg-3 text-center pad-1">
        <h2>People</h2>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3 ">
                <h3>Yalemisew Abgaz</h3>
                <p class="text-justify"> Postdoctoral researcher in the Adapt
                    Centre, Dublin City University. His core interest includes
                    semantic web, computational creativity and natural language
                    processing with the aim of fostering a deep understanding of the
                    fundamentals and applying it to solve practical problems.
                    Yalemisew has hands on experience in building a large scale
                    computational creativity system using analogical reasoning. He has
                    expertise in artificial intelligence, programming, database
                    systems, semantic web technologies and standards, and has
                    experience in technologies like RDF/S, OWL, SPARQL and others. In
                    the past, he was a member of Dr Inventor Project
                    (http://drinventor.eu/), a lecturer and project coordinator at
                    Addis Ababa University. </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3 ">
                <h3>Andy Way</h3>
                <p class="text-justify"> Full professor in Computing. Between
                    2011-13, he spent a period of sabbatical leave working in the
                    translation and localisation industry in the UK. From the start of
                    2014, he has been back in DCU full-time as Professor in the School
                    of Computing at Dublin City University, where he began working in
                    1991. From January 1st 2014, he became Deputy Director of the CNGL
                    Centre for Intelligent Content at DCU. This programme ceased at
                    the end of August 2015, to be replaced by the ADAPT Centre for
                    Digital Content Technology, where he remains Deputy Director. </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <p></p>
    </div>
</section>
<section id="Semantics">
    <div class="container-fluid bg-2 text-center pad-1">
        <h2>Semantic Model</h2>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 ">
                <h3>Ontology for Lexical Data ANalysis (OLDCAN)</h3>
                <p class="text-justify">ExploreAt! Project deals with various types
                    of information resources. This includes Questionnaires, answers on
                    paper slips and dictionaries prepared from the answers collected
                    using the paper slips. Questionnaires are used to collect
                    information using various questions about specific objects or
                    concepts. The response was used to prepare the Dictionary of
                    Bavarian Dialects in Austria (WBÖ). </p>

                <p class="text-justify">The purpose of this model is to support a
                    shared understanding and formal representation of the concepts,
                    relationships and axioms of the data collection methods used to
                    collect historical-cultural linguistic information. The task
                    involves domain analysis and schema analysis of the questionnaire
                    data and representing the domain with a semantic model. </p>
                <div class="col-lg-2"></div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3 ">
                <h3>Semantic Uplifting</h3>
                <p class="text-justify"> The purpose of this task is to convert the
                    questionnaire data into a linked open data. The data is
                    represented using RDF. It involves the conversion of the
                    questionnaire and question data into a linked open data platform.
                    The conversion process uses the ontology developed in the previous
                    task and other available vocabularies such as FOAF, Dublin Core,
                    SKOS etc. The conversion process is done using R2RML. R2RML is
                    used to transform individual records to the respective entities
                    and their attributes as data and object properties. We generated a
                    mapping rule for the questionnaire and the questions. </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3 ">
                <h3>Linguistic Linked Open Data</h3>
                <p class="text-justify"> ExploreAt! Project deals with various types
                    of information resources. This includes Questionnaires, answers on
                    paper slips and dictionaries prepared from the answers collected
                    using the paper slips. Questionnaires are used to collect
                    information using various questions about specific objects or
                    concepts. The response was used to prepare the Dictionary of
                    Bavarian Dialects in Austria (WBÖ). Purpose of the Model The
                    purpose of this model is to support a shared understanding and
                    formal representation of the concepts, relationships and axioms of
                    the data collection methods used to collect historical-cultural
                    linguistic information. The task involves domain analysis and
                    schema analysis of the questionnaire data and representing the
                    domain with a semantic model. </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <p></p>
    </div>
</section>
<section id="APIs">
    <div class="container-fluid bg-3 text-center pad-1">
        <div class="row">
            <div class="col-lg-2  "></div>
            <div class="col-lg-8 text-center">
                <h2>API Endpoints</h2>
                <p> ExploreAt provides APIs to query data related to Questionnaires
                    and questions used for historical-lexical data. Here, we provide
                    the APIs only for testing purposes. A full version of the API will
                    be hosted on <a href="https://www.oeaw.ac.at/acdh/projects/exploreat/">
                        the main page of the project.</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 "></div>
            <div class="col-lg-4 ">

                <h4 class="text-left">
                    All Questionnaires
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all questionnaires. <a href="/Questionnaire">Questionnaires</a> In
                    its current states, the repository contains 120 questionnaires. </p>

                <h4 class="text-left">
                    Individual Questionnaires
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual questionnaire identified by id (1-120). <a
                            href="/Questionnaire/1">A Questionnaire</a>
                </p>



                <h4 class="text-left">
                    All Questions
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all questions belonging to the 120 Questionnaires. Due to the
                    large size of question data, this endpoint returns only 50
                    questions. <a href="/Question">Questions.</a></p>

                <h4 class="text-left">
                    Individual Questions
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual questions identified by id. The question id
                    follows this pattern. QuestionnaireId-an upper case letter/s a
                    number. Example, 1-A10, 20-A1 <a href="/Question/1-A10">A Question</a>
                </p>



                <h4 class="text-left">
                    All Sources
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all sources. <a href="/Source">Sources</a> In
                    its current states. </p>

                <h4 class="text-left">
                    Individual Sources
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual sources identified by id. <a
                            href="/Source/1">A Source</a>
                </p>

                <h4 class="text-left">
                    All Multimedia
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all multimedia. <a href="/Multimedia">Multimedia</a> In
                    its current states. </p>

                <h4 class="text-left">
                    Individual Multimedias
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual multimedia identified by id. <a
                            href="/Multimedia/100">A Multimedia</a>
                </p>


            </div>




            <div class="col-lg-1"></div>
            <div class="col-lg-4 ">

                <h4 class="text-left">
                    All PaperSlips
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all paperslips belonging. This endpoint, by default returns only 50
                    paperslips. <a href="/PaperSlip">Paperslips.</a></p>

                <h4 class="text-left">
                    Individual PaperSlips
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual paperslips identified by id.  <a href="/PaperSlip/39170">A PaperSlip</a>
                </p>



                <h4 class="text-left">
                    All PaperSlip Record
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all PaperSlip Record belonging. This endpoint, by default returns only 50
                    PaperSlip Record. <a href="/PaperSlipRecord">Papersliprecord.</a></p>

                <h4 class="text-left">
                    Individual PaperSlip Records
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual PaperSlip Records identified by id.  <a href="/PaperSlipRecord/126397">A PaperSlip Record</a>
                </p>



                <h4 class="text-left">
                    All Lemmas
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all Lemmas belonging. This endpoint, by default returns only 50
                   Lemmas. <a href="/Lemma">Lemmas.</a></p>

                <h4 class="text-left">
                    Individual Lemmas
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual lemmas identified by id.  <a href="/Lemma/1">A Lemma</a>
                </p>
                <p>

                </p>

                <h4 class="text-left">
                    All Persons
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    all Persons belonging. This endpoint, by default returns only 50
                   Lemmas. <a href="/Person"> Person.</a></p>

                <h4 class="text-left">
                    Individual Persons
                </h4>
                <p class="text-justify">The following endpoint provides access to
                    individual person identified by id.  <a href="/Person/7259">A Person</a>
                </p>

            </div>

            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-2  "></div>
            <div class="col-lg-8 text-center">
                <h3>Dictionary Sort code generator API</h3>
                To generate a dictionary sort code for a lemma, attach the desired lemma to the endpoint by replacing
                "test". The API returns a josn file containing the lemma and its sort code.
                <p> SORTING API IS AVAILABLE HERE <a href="/lemmaSort/test">Dictionary
                    Sorting API</a></p>
            </div>
        </div>
        <p></p>
    </div>
</section>
<section id="publication">
    <div class="container-fluid bg-4 text-center pad-1">
        <h2>Publications</h2>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-justify">
                <div class="list-group">
                    <h3 class="text-left"> Upcoming Publications </h3>
                    <ol class="list-group">
                        <li class="list-group-item">Yalemisew Abgaz, Amelie Dorn,Barbara
                            Piringer,Eveline Wandl-Vogt. A semantic Model for Traditional
                            Data Collection Questionnaires enabling Cultural Analysis.
                            Submitted to: 6th Workshop on Linked Data in Linguistics
                            LDL-2018: Towards Linguistic Data Science at LREC 2018
                        </li>
                        <li class="list-group-item">Amelie Dorn, Eveline Wandl-Vogt,
                            Yalemisew Abgaz, Alejandro Benito Santos, Roberto Therón.
                            Unlocking Cultural Knowledge in Indigenous Language Resources:
                            Collaborative Computing Methodologies Submitted to: The 3rd
                            workshop on collaboration and computing for under-resourced
                            languages CCURL at LREC 2018
                        </li>
                    </ol>
                    <h3 class="text-left"> Conference Papers </h3>
                    <ol class="list-group">
                        <li class="list-group-item">1. Piringer, Barbara, Eveline
                            Wandl-Vogt, Yalemisew Abgaz, and Katalin Lejtovicz. 2017.
                            Exploring and exploiting biographical and prosopographical
                            information as common access layer for heterogeneous data
                            facilitating inclusive, gender-symmetric research. Eveline
                            Wandl-Vogt and Lejtovicz, Katalin. Biographical Data in a
                            Digital World 2017. A conference in the framework of the
                            project APIS, 6-7 November 2017.
                        </li>
                    </ol>
                    <ol class="list-group">
                    </ol>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <p></p>
        </div>
    </div>
</section>
</body>
</html>
